.idea
.DS_Store
*.iml
*/target
*.idea
/target
target
*/settings
.project
*.prefs

*/.settings

.classpath
/.settings/

/data

/bin/

*/**.launch

*/.*

**.log*

*/~/*

*.orig
\#*
*\#

rebel.xml
pm-dao/src/main/resources/generatorConfig.xml
pm-web/src/main/resources/logback.properties
pm-dao/src/main/resources/mybatisConfig.xml
